//EN

New Update ❤️! : ..
We have released a new update 🌹! : ..
What's new : ..
Current version: : .. 
New version: : .. 
Custom Quality : ..
Best Quality : ..
Worst Quality : ..
<string>Audio</string> : .. 
Choose Quality : ..
No Audio : ..
Open in.. : .. 
<string>Save</string> : .. 
Select Manually : ..
Choose Manually : ..
You can select multiple posts 🌹 : ..
#Note 1: Make sure that the account is Public Not Private. : .. 
#Note 2: Check the username again. : ..
Error : ..
#Note 2: Check the username again. : .. 
You can choose multiple stories 🌹 : ..
First Story : .. 
Last Story : ..
There's an : ..
Message me in Twitter @Wirexia9 : ..
Ęrror : .. 
Check your Camera-Roll ⚜️! : .. 
<string>Saved✅</string> : .. 
0= Yes : ..
00= No : .. 
Do you want to enable Auto-Save?❤️ : ..
<string>Save in notes</string> : ..
<string>Choose Qualtiy</string> : ..
Download 720p : ..
Download 360p : ..
Download 240p : ..
Download 144p : ..
Saved ✅ : ..
Choose: : ..
What's your username? : ..
What's the password? : ..
<string>This is a private account 🚨!   ( You must enter your Instagram username &amp; password for complete)</string> : ..
Completed : ..
Wait! : ..
Please wait a moments to make it mp3 ❤️ : .. 
Normal stories : ..
•Instagram Story Saver •                                                    What's His/Her Username?  : ..
<string>Choose</string> : .. 
<string>Alert</string> : ..
<string>Multiple Posts : ..
<string>Download All : ..
<string>Video</string> : ..
This is(.+?)+ : ..
You must(.+?)+ : ..
